.key-value-pair {
  // color: purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
}

.infobox-divider-container {
  margin-left: 5px;
  margin-right: 3px;
  width: 2%;
  height: 100%;
}

.infobox-divider {
  width: 1px;
  height: 100%;
  background: gray;
}

