.infobox-container {
  background: purple;
  margin-top: 40px;
}

.infobox-properties-container {
  width: 200px;
}

// moved to muiStyles
// .infobox-divider {
//   width: 100%;
//   margin-bottom: 20;
// }